version: "2"
services:
  website:
    container_name: website
    restart: always
    build: ./website
    ports:
      - "3000:3000"
    volumes:
      - ./website:/usr/src/website
    network_mode: host


  mongo:
    container_name: mongo
    image: mongo
    volumes:
      - ./mongo_data:/data/db
    ports:
      - "27017:27017"
    network_mode: host
  